# Number of cook threads in the simulation.
NUM_COOKS=2
# Number of waiter threads in the simulation.
NUM_WAITERS=2
# Max number of customers that can be present in the restaurant.
MAX_CUSTOMERS=2
# Number of customer that will visit the restaurant in the simulation.
TOTAL_CUSTOMERS=
# Path to the CSV file containing the menu.
MENU_FILE=./data/menu.csv
# Path to the CSV file containing the kitchen resources.
RESOURCES_FILE=./data/resources.csv
# Speed of the simulation. Cooking, cleaning times and customer patience will be scaled according to this value.
GAME_SPEED=ositive float
# Seed for the main RNG.
RANDOM_SEED= positive int
